$main-color: #0097B2;

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-color {
  color: $main-color;
}

.main-backgroud-color {
  background-color: $main-color;
}

.font-700 {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
}

.tab-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #FCFCFC;
}